<!DOCTYPE html>
<head>
  <title>thishitsux</title>
  <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
  <h3>URL Shortener</h3>
  <form action="/" method="post">
    <input type="text" name="url" placeholder="Enter a url" required />
    <input type="submit" value="Generate"/>
  </form>
  {% if result %}
  <div class="res">
	<p> {{result}} </p>
  </div>
  {% endif %}
  {% if exist %}
  <div class="container">
	<p> Original Link: {{exist}} </p>
	<p> Short URL: 
  	<a href="{{exist}}" target="__blank__"> {{ key }} </a>
	</p>
  </div>
  {% endif %}
  {% if new_link %}
<div class="container">
	<p> Original Link: {{new_link}} </p>
	<p> Short URL: 
  	<a href="{{new_link}}" target="__blank__"> {{ short_link }} </a>
	</p>
  </div>
   {% endif %}
</body>
